body {
    padding: 62px 108px 0;
    font-family: 'Kumbh Sans', sans-serif;
    color: white;
    background-color: #17162E;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#title-header {
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 48px;
}

#show-favorite-movies {
    padding: 30px 0 64px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#item {
    display: flex;
    align-items: center;

}

#item-section-main {
    display: flex;
    align-items: center;
}

#item-section-main-img {
    width: 215px;
    height: 139px; /* Tornar altura igual à largura para uma imagem circular */
    border-radius: 50%;
    object-fit: fill; /* Garante que a imagem cubra todo o contêiner */
}

#item-section-main-secundary {
    display: flex;
    flex-direction: column;
}

#item-section-main-details {
    display: flex;

}
